[submodule "test-vectors"]
        path = test-vectors
        url = https://github.com/hildjj/test-vectors.git
        branch = failures
[submodule "dcbor-test-vectors"]
	path = dcbor-test-vectors
	url = https://github.com/hildjj/dcbor-test-vectors.git
